{% extends 'base.html' %}

{% block title %} Products {% endblock %}

{% load static %}

{% block content %}


<!-- content -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-md-2 col-lg-8">
      <div class="container-fluid">
        <div class="row" style="margin: 80px 0px 10px 80px; padding: 10px;">

          <!-----------------------
                PRODUCT LIST 
          ------------------------->

          {% for i in products %}

          <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <a href="{% url 'product_detail' id=i.id slug=i.slug %}">
                <img src="{% if i.image %}{{i.image.url}}{% else %}{% static 'images/default_img.png' %}{% endif %}"
                  class="card-img-top" />
              </a>
              <div class="card-body d-flex flex-column">
                <h6>{{ i.name }}</h6>
                <h6 class="mb-1 me-1">₹ {{ i.price }}</h6>


                <div class="card-footer d-flex align-items-end mt-auto">
                  <a href="{% url 'product_detail' id=i.id slug=i.slug %}" class="btn shadow-0 me-1"
                    style="background-color: #ab95db;">
                    <h5>View Product</h5>
                  </a>
                  <!-- <a href="#" class="btn btn-light border icon-hover px-2 pt-2 btn-white"><i
                      class="fa fa-heart fa-lg text-secondary px-1"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>
    </div>

    <!-----------------------
         CATEGORY SIDE BAR 
    ------------------------->
    {% include 'category-sidebar.html' %}
  </div>
</div>


{% endblock %}